{% extends "base.html" %}

{% block module_title %}
CHUYÊN ĐỀ LPG
{% endblock %}

{% block navbar %}
<li class="nav-item">
    <a href="/" class="navbar-nav-link">
        <i class="icon-home4 mr-2"></i> Trang chủ
    </a>
</li>

<!-- <li class="nav-item dropdown">
    <a href="#" class="navbar-nav-link dropdown-toggle active" data-toggle="dropdown">
        <i class="icon-strategy mr-2"></i> Starter kit
    </a>

    <div class="dropdown-menu">
        <div class="dropdown-header">Basic layouts</div>
        <div class="dropdown-submenu">
            <a href="#" class="dropdown-item dropdown-toggle"><i class="icon-paragraph-justify3"></i> Navbars</a>
            <div class="dropdown-menu">
                <a href="../seed/navbar_main_fixed.html" class="dropdown-item">Main navbar fixed</a>
                <a href="../seed/navbar_main_hideable.html" class="dropdown-item">Main navbar hideable</a>
                <a href="../seed/navbar_secondary_sticky.html" class="dropdown-item">Secondary navbar sticky</a>
                <a href="../seed/navbar_both_fixed.html" class="dropdown-item">Both navbars fixed</a>
            </div>
        </div>
        <div class="dropdown-header">Optional layouts</div>
        <a href="../seed/layout_boxed.html" class="dropdown-item"><i class="icon-align-center-horizontal"></i>
            Boxed layout</a>
    </div>
</li> -->
{% endblock %}